<p id="notice"><%= notice %></p>

<h1>Pms</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Walletimg</th>
      <th>Address</th>
      <th>Con</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pms.each do |pm| %>
      <tr>
        <td><%= pm.title %></td>
        <td><%= pm.walletimg %></td>
        <td><%= pm.address %></td>
        <td><%= pm.con %></td>
        <td><%= link_to 'Show', pm %></td>
        <td><%= link_to 'Edit', edit_pm_path(pm) %></td>
        <td><%= link_to 'Destroy', pm, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pm', new_pm_path %>
