<% @headers.take(1).each do |h| %>
<div class="col-lg-4 col-md-6 mb25" style="background-size: cover;">
    <div class="feature-box f-boxed style-3 text-center" style="background-size: cover;">
        <div class="text" style="background-size: cover;">
            <h4>FAQ's</h4>
            <p>Our Frequently Asked Questions and Answers</p>
            <%= link_to faqs_path, class: "btn-main" do %>
            Read more
            <% end %>
            </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 mb25" style="background-size: cover;">
    <div class="feature-box f-boxed style-3 text-center" style="background-size: cover;">
        <div class="text" style="background-size: cover;">
            <h4><%= h.servicemain_title %></h4>
            <p><%= h.servicemain_sub_title %></p>

            <%= link_to services_path, class: "btn-main" do %>
            Read more
            <% end %>
        </div>
    </div>
</div>

<div class="col-lg-4 col-md-6 mb25" style="background-size: cover;">
    <div class="feature-box f-boxed style-3 text-center" style="background-size: cover;">
        <div class="text" style="background-size: cover;">
            <h4><%= h.blogs_title %></h4>
            <p><%= h.blogs_sub_title %></p>
              <%= link_to blogs_path, class: "btn-main" do %>
              Read more
              <% end %>
        </div>
    </div>
</div>
</div>
<% end %>
