<div class="container-fluid">
  <!-- Page-Title -->
  <div class="row">
      <div class="col-sm-12">
          <div class="page-title-box">
              <div class="float-end">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="#">Proxadacore</a>
                      </li><!--end nav-item-->

                      <li class="breadcrumb-item active">Withdrawals</li>
                  </ol>
              </div>
              <h4 class="page-title">History</h4>
          </div><!--end page-title-box-->
      </div><!--end col-->
  </div>



<%= render "accounts/topbox" %>


</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Withdrawal History</h4>
        <p><%= link_to 'Request Payment', new_withdraw_path, class: "btn btn-primary"%>
        </p>

        <div class="table-responsive browser_users">
          <table class="table mb-0">

            <thead class="thead-light">
              <tr>
                <th>Amount</th>
                <th>Payment type</th>
                <th>Email</th>
                <th>Wallet</th>

                <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <% if Withdraw.where(user_id: current_user).exists?%>
              <% @withdraws.each do |withdraw| %>
              <tr>
                <td><%= withdraw.amount %></td>
                <td><%= withdraw.payment_type %></td>
                <td><%= withdraw.email %></td>
                <td><%= withdraw.wallet %></td>
                <td><% if withdraw.status? %><span class="status online"> </span>
                  <span class="pdd-left-20">withdrawal Approved</span>
                  <% else %>
                  <span class="status away"> </span>
                  <span class="pdd-left-20">Withdrawal pending</span>
                  <% end %>
                </td>
              </tr>
              <% end %>
              <% else %>
              <tr>
                <td></td>
                <td></td>
                <td>No Data</td>
                <td></td>
                <td></td>

              </tr>
              <% end %>
            </tbody>
          </table>

          <br>
</div>
</div>
</div>
</div>
</div>
