
<%= simple_form_for(@archive) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :month %>
    <%= f.input :year %>
    <%= f.input :slug %>
    <%= f.input :archimg %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
