<p id="notice"><%= notice %></p>

<p>
  <strong>Abouts title:</strong>
  <%= @header.abouts_title %>
</p>

<p>
  <strong>:</strong>
  <%= @header. %>
</p>

<p>
  <strong>Services title:</strong>
  <%= @header.services_title %>
</p>

<p>
  <strong>Services sub title:</strong>
  <%= @header.services_sub_title %>
</p>

<p>
  <strong>Boards title:</strong>
  <%= @header.boards_title %>
</p>

<p>
  <strong>Boards sub title:</strong>
  <%= @header.boards_sub_title %>
</p>

<p>
  <strong>Features title:</strong>
  <%= @header.features_title %>
</p>

<p>
  <strong>Features sub title:</strong>
  <%= @header.features_sub_title %>
</p>

<p>
  <strong>Feedbacks title:</strong>
  <%= @header.feedbacks_title %>
</p>

<p>
  <strong>Feedbacks sub title:</strong>
  <%= @header.feedbacks_sub_title %>
</p>

<p>
  <strong>Blogs title:</strong>
  <%= @header.blogs_title %>
</p>

<p>
  <strong>Blogs sub title:</strong>
  <%= @header.blogs_sub_title %>
</p>

<p>
  <strong>Projects title:</strong>
  <%= @header.projects_title %>
</p>

<p>
  <strong>Projects sub title:</strong>
  <%= @header.projects_sub_title %>
</p>

<p>
  <strong>Cta1:</strong>
  <%= @header.cta1 %>
</p>

<p>
  <strong>Cta2:</strong>
  <%= @header.cta2 %>
</p>

<p>
  <strong>Headerimg:</strong>
  <%= @header.headerimg %>
</p>

<p>
  <strong>Plans title:</strong>
  <%= @header.plans_title %>
</p>

<p>
  <strong>Plans sub title:</strong>
  <%= @header.plans_sub_title %>
</p>

<p>
  <strong>Abouttrade title:</strong>
  <%= @header.abouttrade_title %>
</p>

<p>
  <strong>Abouttrade sub title:</strong>
  <%= @header.abouttrade_sub_title %>
</p>

<p>
  <strong>Tradeservices title:</strong>
  <%= @header.tradeservices_title %>
</p>

<p>
  <strong>Tradeservices sub title,:</strong>
  <%= @header.tradeservices_sub_title, %>
</p>

<p>
  <strong>Tradesignal title:</strong>
  <%= @header.tradesignal_title %>
</p>

<p>
  <strong>Tradesignal sub title:</strong>
  <%= @header.tradesignal_sub_title %>
</p>

<p>
  <strong>Servicemain title:</strong>
  <%= @header.servicemain_title %>
</p>

<p>
  <strong>Servicemain sub title:</strong>
  <%= @header.servicemain_sub_title %>
</p>

<p>
  <strong>Tradeplan title:</strong>
  <%= @header.tradeplan_title %>
</p>

<p>
  <strong>Tradeplan sub title:</strong>
  <%= @header.tradeplan_sub_title %>
</p>

<%= link_to 'Edit', edit_header_path(@header) %> |
<%= link_to 'Back', headers_path %>
