<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @fxsignal.body %>
</p>

<p>
  <strong>Entry point:</strong>
  <%= @fxsignal.entry_point %>
</p>

<p>
  <strong>Exit point:</strong>
  <%= @fxsignal.exit_point %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @fxsignal.slug %>
</p>

<p>
  <strong>Stop loss:</strong>
  <%= @fxsignal.stop_loss %>
</p>

<p>
  <strong>Sell point1:</strong>
  <%= @fxsignal.sell_point1 %>
</p>

<p>
  <strong>Sell point2:</strong>
  <%= @fxsignal.sell_point2 %>
</p>

<p>
  <strong>Tradetype:</strong>
  <%= @fxsignal.tradetype %>
</p>

<p>
  <strong>Odds:</strong>
  <%= @fxsignal.odds %>
</p>

<p>
  <strong>Status:</strong>
  <%= @fxsignal.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @fxsignal.date %>
</p>

<p>
  <strong>Pairs:</strong>
  <%= @fxsignal.pairs %>
</p>

<p>
  <strong>Leverage:</strong>
  <%= @fxsignal.leverage %>
</p>

<p>
  <strong>Call type:</strong>
  <%= @fxsignal.call_type %>
</p>

<p>
  <strong>Exchange:</strong>
  <%= @fxsignal.exchange %>
</p>

<p>
  <strong>Stop loss:</strong>
  <%= @fxsignal.stop_loss %>
</p>

<p>
  <strong>Sub:</strong>
  <%= @fxsignal.sub %>
</p>

<p>
  <strong>Info:</strong>
  <%= @fxsignal.info %>
</p>

<p>
  <strong>Archive:</strong>
  <%= @fxsignal.archive_id %>
</p>

<%= link_to 'Edit', edit_fxsignal_path(@fxsignal) %> |
<%= link_to 'Back', fxsignals_path %>
