  <% if Trade.where(user_id: current_user.id).exists? %>

  <div class="col-12 col-md-12">
    <div class="card">
      <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h4 class="card-title">Trade History</h4>
                                        </div><!--end col-->
                                        <div class="col-auto d-flex align-self-center">
                                            <div class="input-group me-2">
                                                <input type="text" class="form-control form-control-sm" placeholder="Search" aria-describedby="wallet_search">
                                                <button class="btn btn-outline-light btn-sm" type="button" id="wallet_search">
                                                    <i class="las la-search text-secondary"></i>
                                                </button>
                                              </div>
                                            <div class="dropdown">
                                                <a href="#" class="btn btn-sm btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                   Today<i class="las la-angle-down ms-1"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <a class="dropdown-item" href="#">Today</a>
                                                    <a class="dropdown-item" href="#">Yesterday</a>
                                                    <a class="dropdown-item" href="#">Last Week</a>
                                                    <a class="dropdown-item" href="#">Last Month</a>
                                                </div>
                                            </div>
                                        </div><!--end col-->
                                    </div>  <!--end row-->
                                </div>


      <div class="card-body">
        <% @trades.each do |t| %>

        <div class="col-lg-4">
                              <div class="card ">
                                  <div class="card-header">
                                      <div class="row align-items-center">
                                          <div class="col">
                                              <div class="media">
                                                  <div class="media-body align-self-center">
                                                      <h5 class="m-0 font-15">Active</h5>
                                                      <p class="text-muted fw-semibold mb-0"><%= t.tradetype %></p>
                                                  </div><!--end media-body-->
                                              </div><!--end media-->
                                          </div><!--end col-->
                                          <div class="col-auto">
                                              <button class="badge bg-soft-success">History</button>
                                              <button class="badge bg-soft-success">claim profit</button>

                                          </div><!--end col-->
                                      </div>  <!--end row-->
                                  </div><!--end card-header-->
                                  <div class="card-body">
                                      <div class="row">

                                        <div class="col-md-6 col-sm-6">
                                          <p class="mb-0 "> <span class="text-muted">Current Plan</span></p>

                                            <h4 class="m-0 font-24  fw-bold">Silver</h4>
                                        </div><!--end col-->
                                          <div class="col-md-6 col-sm-6">
                                              <p class="mb-0 ">Start Date : <span class="text-muted"><%= t.created_at %></span></p>
                                              <p class="">Duration : <span class="text-muted"><%= t.created_at %></span></p>
                                          </div><!--end col-->

                                          <br>

                                          <div class="col-md-6 col-sm-6">

                                            <h3 class="m-0 font-24  fw-bold">Goal</h3>
                                        </div><!--end col-->
                                          <div class="col-md-6 col-sm-6">
                                            <h3 class="m-0 font-24 text-muted fw-bold"><%= t.goal %>USD</h3>

                                          </div><!--end col-->
                                          <br>
                                          <div class="col-md-6 col-sm-6">
                                              <p class="mb-0 ">Invested: <span class="text-muted"><%= t.deposit %>USD</span></p>
                                              <p class="">Est rate : <span class="text-muted"><%= t.rate %> % Daily</span></p>
                                          </div><!--end col-->
<br>
                                          <div class="col-md-6 col-sm-6">
                                              <p class="mb-0 ">ROI : <span class="text-muted"><%= t.return %>USD</span></p>
                                              <p class="">BONUS: <span class="text-muted"><%= t.bonus %>USD</span></p>
                                          </div><!--end col-->

                                          <br>
                                          <div class="col-md-6 col-sm-6">
                                            <p class="mb-0 "> <span class="text-muted">Current Progress</span></p>

                                            <h3 class="m-0 font-24  fw-bold"><%= t.current %>USD</h3>

                                          </div><!--end col-->
                                          <div class="col-md-12 text-end align-self-center">
                                            <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                                          </div><!--end col-->
                                      </div><!--end row-->
                                      <a href="#" class="btn btn-sm btn-outline-primary float-end ">claim</a>
                                      <ul class="list-inline socials mb-0">
                                          <li class="list-inline-item me-0">
                                              <a href="#" class=""><i class="fab fa-facebook-f"></i></a>
                                          </li>
                                          <li class="list-inline-item me-0">
                                              <a href="#" class=""><i class="fab fa-twitter"></i></a>
                                          </li>
                                          <li class="list-inline-item me-0">
                                              <a href="#" class=""><i class="fab fa-medium-m"></i></a>
                                          </li>
                                          <li class="list-inline-item me-0">
                                              <a href="#" class=""><i class="fab fa-telegram"></i></a>
                                          </li>
                                      </ul>
                                  </div><!--end card-body-->
                              </div><!--end card-->
                          </div>
                          <% end %>


      </div><!--end card-body-->
    </div><!--end card-->
  </div>
  <% else %>

    <div class="col-lg-8 col-xs-12">
      <div class="card">
        <div class="card-header">
                                      <div class="row align-items-center">
                                          <div class="col">
                                              <h4 class="card-title">Transaction History</h4>
                                          </div><!--end col-->
                                          <div class="col-auto d-flex align-self-center">
                                              <div class="input-group me-2">
                                                  <input type="text" class="form-control form-control-sm" placeholder="Search" aria-describedby="wallet_search">
                                                  <button class="btn btn-outline-light btn-sm" type="button" id="wallet_search">
                                                      <i class="las la-search text-secondary"></i>
                                                  </button>
                                                </div>
                                              <div class="dropdown">
                                                  <a href="#" class="btn btn-sm btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                     Today<i class="las la-angle-down ms-1"></i>
                                                  </a>
                                                  <div class="dropdown-menu dropdown-menu-end">
                                                      <a class="dropdown-item" href="#">Today</a>
                                                      <a class="dropdown-item" href="#">Yesterday</a>
                                                      <a class="dropdown-item" href="#">Last Week</a>
                                                      <a class="dropdown-item" href="#">Last Month</a>
                                                  </div>
                                              </div>
                                          </div><!--end col-->
                                      </div>  <!--end row-->
                                  </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered mb-0 table-centered">
              <thead>
                <tr>
                  <th>Transaction ID</th>
                  <th>Date</th>
                  <th>Price</th>
                  <th> Status</th>
                  <th class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                No Data
              </tbody>
            </table><!--end /table-->
          </div><!--end /tableresponsive-->
        </div><!--end card-body-->
      </div><!--end card-->
    </div>


  <% end %>
