<!DOCTYPE html>
<html>
<head>
  <%  @welcomes = Welcome.all  %>
  <% @welcomes.take(1).each do |w| %>
  <title><%= w.title %>  || Authentication </title>
  <meta name="description" content="<%= w.desc %>">
  <% end %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag    'accounts', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'accounts', 'data-turbolinks-track': 'reload' %>
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
  }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

</head>

<body id="body" class="auth-page card-bg">

  <% unless flash.empty? %>
  <script type="text/javascript">
    <% flash.each do |f| %>
    <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
    toastr['<%= type %>']('<%= f[1] %>');
    <% end %>
  </script>
  <% end %>

  <% @welcomes = Welcome.all %>







                <!-- Log In page -->
                 <div class="container-fluid">
                     <div class="row vh-100">
                         <div class="col-12">
                             <div class="card-body p-0">
                                 <div class="row d-flex align-items-center">

                                     <div class="col-md-5 col-xl-3 col-lg-4">
                                         <div class="card mb-0 border-0">
                                           <% @welcomes.take(1).each do |w| %>

                                             <div class="card-body p-0">
                                                 <div class="text-center p-3">

                                                   <%= link_to root_path, class: "logo logo-admin" do %>
                                                   <img src="<%= w.logoimg_url.to_s %>" height="30" alt="logo" class="auth-logo">

                                                   <% end %>


                                                 </div>
                                             </div><!--end card-body-->
                                             <% end %>

                                             <%= yield %>


                                         </div><!--end card-->
                                     </div><!--end col-->





                                     <div class="col-md-7 col-xl-9 col-lg-8  p-0 vh-100 d-flex justify-content-center auth-bg">
                                         <div class="accountbg d-flex align-items-center">
                                             <div class="account-title text-center text-white">
                                                 <!-- <img src="assets/images/logo-sm.png" alt="" class="thumb-sm"> -->
                                                 <h4 class="mt-3 text-white">Welcome To <span class="text-warning">Exchange Dashboard</span> </h4>
                                                 <h1 class="text-white">Let's Get Started</h1>
                                                 <!-- <p class="font-18 mt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod.</p> -->
                                                 <div class="border w-25 mx-auto border-warning"></div>
                                             </div>
                                         </div><!--end /div-->
                                     </div><!--end col-->
                                   </div><!--end row-->
                                   </div><!--end card-body-->
                                   </div><!--end col-->
                                   </div><!--end row-->
                                   </div><!--end container-->


  <%= javascript_include_tag 'app' %>

</body>
</html>
