<div class="row mt-4 mb-4">
  <div class="col-lg-8 col-md-12">
    <div style="width:100%; height: 600px !important;" >
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container" style="height:100%;width:100%">
        <div class="tradingview-widget-container__widget" style="height:calc(100% - 32px);width:100%"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
        {
        "autosize": true,
        "symbol": "COINBASE:BTCUSDT",
        "interval": "D",
        "timezone": "Etc/UTC",
        "theme": "light",
        "style": "1",
        "locale": "en",
        "enable_publishing": false,
        "hide_side_toolbar": false,
        "allow_symbol_change": true,
        "details": true,
        "hotlist": true,
        "calendar": false,
        "support_host": "https://www.tradingview.com"
      }
        </script>
      </div>

  </div>
  </div>
  <% if Deposit.where(user_id: current_user.id).exists? %>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Deposit History</h4>
          </div><!--end col-->
          <div class="col-auto">
            <%= link_to deposits_path, class: "text-primary" do %>
              View all
              <% end %>

          </div><!--end col-->
        </div>  <!--end row-->
      </div><!--end card-header-->
      <div class="card-body">
        <ul class="list-unsyled m-0 ps-0 transaction-history">
          <% @deposits.each do |d| %>

          <li class="align-items-center d-flex justify-content-between">
            <div class="media">
              <div class="thumb-xs bg-soft-primary rounded-circle d-flex justify-content-center align-items-center">
                <i class="mdi mdi-arrow-top-right-thick font-20"></i>
              </div>
              <div class="media-body align-self-center ms-3">
                <div class="transaction-data">
                  <h5 class="m-0 font-14"><%= d.payment_type %></h5>
                  <p class="text-muted mb-0"><%= d.created_at %></p>
                </div>
              </div><!--end media body-->
            </div>
            <span class="text-success">+<%= d.amount %></span>
          </li>
          <% end %>

        </ul>
      </div><!--end card-body-->
    </div><!--end card-->
  </div>
  <% else %>

  <div class="col-lg-4">
    <div class="card">
      <div class="card-header">
        <div class="row align-items-center">
          <div class="col">
            <h4 class="card-title">Deposit History</h4>
          </div><!--end col-->
          <div class="col-auto">
            <a href="#" class="text-primary">Make Deposit</a>

          </div><!--end col-->
        </div>  <!--end row-->
      </div><!--end card-header-->
      <div class="card-body">
        <div class="text-center">
          <p>No Data</p>
        </div>
      </div><!--end card-body-->
    </div><!--end card-->
  </div>


  <% end %>
</div>
<div class="row">
  <%= render "trades/dhistory" %>

</div>
